body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    max-width: 100%;
}
/* header section */

.checkout {
    display: flex;
    flex-direction: column;
}

.header {
    display: block;
    color: black;
    text-align: center;
    font-size: 20px;
}
/* Main section */

.main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
}

#form {
    width: 32%;
    padding-left: 3%;
}

input::placeholder {
    font-size: 18px;
}
/* Form_1 section */

#form1 {
    width: 100%;
}

label {
    font-size: 14px;
    color: #828282;
    margin: 3%;
}

#contact_info {
    font-size: 22px;
    color: #333;
}

#mail_box {
    position: relative;
}

#email {
    background-image: url(./IMG/email.png);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 3% 4% 3% 10%;
    border-radius: 5px;
    border: 1px solid #828282;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 100%;
    width: 100%;
}

#phone {
    background-image: url(./IMG/phone.png);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 3% 4% 3% 10%;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #828282;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* Form_2 section */

#shipping {
    font-size: 22px;
    margin-top: 50px;
    color: #333;
}

#full_name {
    background-image: url(./IMG/user.png);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 3% 4% 3% 10%;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #828282;
    margin-top: 10px;
    margin-bottom: 10px;
}

#adress {
    background-image: url(./IMG/home-run.png);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 3% 4% 3% 10%;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #828282;
    margin-top: 10px;
    margin-bottom: 10px;
}

#city {
    background-image: url(./IMG/town.png);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 3% 4% 3% 10%;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #828282;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* Form_3 section */

#form_3 {
    display: flex;
    margin-top: 10px;
}

#country {
    background-image: url(./IMG/world.png);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    border-radius: 5px;
    border: 1px solid #828282;
    margin-top: 10px;
    margin-bottom: 10px;
}

#post_code {
    background-image: url(./IMG/mail.png);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    border-radius: 5px;
    border: 1px solid #828282;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5%;
    width: 100%;
}
/* form_4 Section */

#form_4 {
    margin-top: 10px;
}
/* Payment Section */

#payment {
    background-color: #eeeeee;
    width: 30%;
    height: 500px;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 10px;
    margin-top: 20px;
}

#vintage {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#levi {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#image_bag_1 {
    width: 30%;
    padding-left: 5%;
    margin-top: 30px;
}

#image_bag_2 {
    width: 30%;
    padding-left: 5%;
    margin-top: 30px;
}

#bag1 {
    width: 100%;
    border-radius: 5px;
}

#bag2 {
    width: 100%;
    border-radius: 5px;
}

#vintage_text {
    display: flex;
    padding-top: 10px;
    margin-left: 6%;
    flex-direction: column;
    flex-wrap: wrap;
}

#levi_text {
    display: flex;
    flex-wrap: wrap;
    margin-left: 6%;
    padding-top: 10px;
    flex-direction: column;
}

.price {
    color: #f2994f;
    font-weight: bold;
    font-size: 18px;
}

#vintage_back {
    font-size: 20px;
    color: #4E5150;
    font-weight: bold;
}

#levi_bag {
    font-size: 20px;
    color: #4E5150;
    font-weight: bold;
}

.qty-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 125px;
    height: 40px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #828282;
    align-items: center;
    justify-content: space-around;
}
/* total section */

#total {
    margin-top: 60px;
    width: 80%;
    padding-left: 5%;
    font-size: 18px;
}

.last_price {
    margin-left: 63%;
}
/* Continue Section */

#continue {
    background-color: #f2994a;
    color: white;
    height: 50px;
    align-items: center;
    width: 100px;
    text-align: center;
    border-radius: 10px;
    margin-top: 25px;
    margin-left: 45%;
    font-weight: bold;
}

#con_text {
    padding-top: 15px;
}